@import "../../lib/bootstrap-sass-official/vendor/assets/stylesheets/bootstrap/variables";
@import "../../lib/bootswatch-scss/slate/variables";
@import "../../lib/bootstrap-sass-official/vendor/assets/stylesheets/bootstrap/bootstrap";
@import "../../lib/bootswatch-scss/slate/bootswatch";

body {
  margin-top: $navbar-height + 12px;
}

a {
  cursor: pointer;
}

$brand-facebook: #3b5998 !default;
$btn-facebook-color: #fff !default;
$btn-facebook-bg: $brand-facebook !default;
$btn-facebook-border: darken($btn-facebook-bg, 5%) !default;

$brand-google-plus: #dd4b39 !default;
$btn-google-plus-color: #fff !default;
$btn-google-plus-bg: $brand-google-plus !default;
$btn-google-plus-border: darken($btn-google-plus-bg, 5%) !default;

.btn-facebook {
  @include button-variant($btn-facebook-color, $btn-facebook-bg, $btn-facebook-border);
}

.btn-google-plus {
  @include button-variant($btn-google-plus-color, $btn-google-plus-bg, $btn-google-plus-border);
}

$user-image-size: 32px;
$user-image-size-lg: 44px;
$user-image-margin: 3px;
$user-image-distance: 12px;

$chat-pane-height: 300px;
$small-spacing: 6px;
$large-spacing: 15px;
$user-top-spacing: 73px;

.jumbotron {
  margin-top: 0-$large-spacing;
}

.img-user {
  width: $user-image-size;
  height: $user-image-size;
  margin-left: $user-image-distance;
  margin-right: $user-image-distance;
}

.img-user-lg {
  width: $user-image-size-lg;
  height: $user-image-size-lg;
  margin-left: $user-image-distance;
  margin-right: $user-image-distance;
}

.navbar-nav > li > a {
  padding-top: $user-image-margin;
  padding-bottom: $user-image-margin;
}

li.dropdown > ul.dropdown-menu {
  width: 100%;
}

.user-list {
  height: $chat-pane-height + 160;
  overflow-y: auto;
}

.chat-pane {
  overflow-y: auto;
  margin-top: $large-spacing;
  margin-bottom: $small-spacing;
  padding-top: $small-spacing;
  padding-bottom: $small-spacing;
  height: $chat-pane-height;
  border-radius: $nav-pills-border-radius;
  border: 1px solid $gray-lighter;
}

.room-options-pane {
  padding-top: $large-spacing;
}

.media {
  padding: 3px;
  cursor: pointer;
}

.user-list-entry {
  border-radius: $nav-pills-border-radius;
  margin: $small-spacing;

  &:hover {
    background-color: $gray-lighter;
  }
  opacity: .2;
  &.online{
    opacity: 1;
  }
}

.message-row {
  padding-bottom: $small-spacing;
  margin-left: 0;
  margin-right: 0;
}

.participants-row {
  padding-top: $large-spacing;
}
.callWrapper{
  width: 558px;
  height: 449px;
  position: relative;
}
#call {
  width: 558px;
  height: 480px;
}
#call1 {
  position: absolute;
  opacity: 1;
  width: 130px;
  right: 4px;
  bottom: 4px;
  &:hover{
    opacity: 1;
  }
}