.chat-pane
  .row.message-row(ng-repeat="message in messages")
    .col-sm-12(ng-class="{'text-right': message.from._id == me._id}")
      img.img-rounded.img-user(ng-src="http://graph.facebook.com/{{message.from._socialIdentity.facebook.id}}/picture", ng-class="{'pull-left' : message.from._id != me._id, 'pull-right' : message.from._id == me._id}")
      span.text-muted {{message.from._socialIdentity.facebook.name}} (
        span(am-time-ago="message._kmd.ect")
        |)
      br
      | {{message.text}}