nav.navbar.navbar-default.navbar-fixed-top(role="navigation")
    .container
        .navbar-header
            a.navbar-brand(ui-sref="index") Gulper
        ul.nav.navbar-nav.navbar-right
            li.dropdown
                a.dropdown-toggle(data-toggle="dropdown")
                    img.img-circle.img-user(ng-src="http://graph.facebook.com/{{me._socialIdentity.facebook.id}}/picture")
                    |  {{me._socialIdentity.facebook.name}}
                ul.dropdown-menu
                    li
                        a(ng-click="logout()")
                            i.fa.fa-sign-out
                            |  Logout
.jumbotron
    .container
        .col-sm-12
            h1 Gulper
                br
                small XMPP Chat Demo App
.container
    .col-sm-4
        ul.media-list
            li.media(ng-repeat="user in users")
                a.pull-left
                    img.media-object.img-rounded(ng-src="http://graph.facebook.com/{{user._socialIdentity.facebook.id}}/picture")
                .media-body
                    h4.media-heading {{user._socialIdentity.facebook.name}}
                        br
                        span.text-muted {{user._socialIdentity.facebook.location.name}}
    .col-sm-8