.container
    .row
        .col-sm-4.col-sm-offset-4
            h1 Gulper
    .row
        .col-sm-4.col-sm-offset-4
            button.btn.btn-lg.btn-facebook.full-width(ng-click="login()")
                i.fa.fa-facebook
                |  | Login with Facebook