nav.navbar.navbar-default.navbar-fixed-top(role="navigation")
  .container
    .navbar-header
      a.navbar-brand(ui-sref="index") Gulper
.jumbotron
  .container
    .col-sm-12
      h1 Gulper
        br
        small XMPP Chat Demo App
.container
  .col-sm-12.text-center
    button.btn.btn-lg.btn-facebook(ng-click="login()")
      i.fa.fa-facebook
      | | Login with Facebook