.row
  .col-sm-3.participants-row
    img.img-rounded.img-user(ng-src="http://graph.facebook.com/{{admin._socialIdentity.facebook.id}}/picture")
    | {{userName(admin)}} - Admin
  .col-sm-7.participants-row.text-right
    img.img-rounded.img-user(ng-repeat="participant in room.participants", ng-src="http://graph.facebook.com/{{participant._socialIdentity.facebook.id}}/picture", ng-show="participant._id != admin._id")
.row
  .col-sm-10
    .chat-pane
      .row.message-row(ng-repeat="message in messages")
        .col-sm-12(ng-class="{'text-right': message.from._id == me._id}")
          img.img-rounded.img-user(ng-src="http://graph.facebook.com/{{message.from._socialIdentity.facebook.id}}/picture", ng-class="{'pull-left' : message.from._id != me._id, 'pull-right' : message.from._id == me._id}")
          span.text-muted {{message.from._socialIdentity.facebook.name}} (
            span(am-time-ago="message._kmd.ect")
            |)
          br
          | {{message.text}}
    form(role="form")
      .input-group
        input.form-control(type="text", placeholder="Message", ng-model="text")
        span.input-group-btn
          button.btn.btn-default(ng-click="send(text)") Send
  .col-sm-2.room-options-pane
    ul.nav.nav-pills.nav-stacked
      li(ng-class="{'disabled': !canLeaveRoom()}")
        a(ng-click="leaveRoom()")
          i.fa.fa-sign-out
          |  Leave Room
      li
        a(ng-click="addUser()")
          i.fa.fa-plus
          |  Add User
      li
        a(ng-click="rename()")
          i.fa.fa-edit
          |  Rename Room
      li(ng-class="{'disabled': !canDeleteRoom()}")
        a(ng-click="delete()")
          i.fa.fa-trash-o
          |  Delete Room